.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    padding-top: 15px;
    font-size: 1.3rem;
    
}

.btn_search{
    background-color: var(--color-header); 
    color: var(--color-close);
    display: flex;
    cursor: pointer;
    margin: 0px 5px;
    border-radius: 15px;
}

.btn_search:hover{
    background-color: var(--color-title) ;
}

.search_input{
    border-radius: 7px;
    border-color: var(--color-normal);
}

.icon{
    margin-right: 5px;
}

  .NavBar{
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: fit-content;
    align-items:baseline;
    backdrop-filter: blur(10px);
    color: var(--color-close);
    font-size: 0.8em;
    margin: 5px
  }

  .p_link{
    text-decoration: none;
    font-size: 1.5vw;
    display: flex;
    text-align: center;
    color: var(--color-close);
  }
  .p_link:active {
    text-decoration: none;
    color: var(--color-title);
  }