
:root{
    /*Variables de colores*/

    --color-hot:crimson;
    --color-cold:#219ebc;
    --color-normal: #1d3557;
   /* --color-border-card:#e7d3d3;*/

    /*Paleta de coolors*/
    --color-close: #22223b;
    --color-border-card: #4a4e69;
    --color-normal: #9a8c98;
    --color-header: #c9ada7;
    --color-title: #f2e9e4;

   
}


.card{
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    flex-direction: column;
    border-style: solid;
    border-color: var(--color-border-card);
    border-radius: 0.2em;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-normal);
    background-color: rgba(255, 255, 255,0.5);
    font-size: 1em;
    /*backdrop-filter: blur(9px);*/
    
}
.card:hover{
    background-color: rgb(255, 255, 255,0.8);
}


.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
  
}

.card_max{
    font-size: 0.8em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    color: var(--color-hot);
}

.card_min{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    font-weight: 600;
    color: var(--color-cold);
}

.card_img{
   width: 10em;
   height: 8em;
   align-self: center;
}

.card_img_prop{
    display: flex;
    width: 5em;
    font-size: 0.5em;
    height: fit-content;
    flex-direction: column;
    padding: 5px;
    align-self: center;

 }

 .card_title{
    background-color: var(--color-header);
    color: var(--color-title);
    font-size:1.2em;
    margin: 0px;
    padding: 5px;
    border-bottom: solid;
 }

 .card_btn{
    background-color: var(--color-close);
    color: var(--color-header);
 }


