body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://res.cloudinary.com/dvkvyi1dr/image/upload/v1656021666/weather%20api/fondo_khpfa1.avif) ;
  background-size:100vw 100vh
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
